*{
    box-sizing: border-box;
    list-style: none;
    line-height: 1;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
}

$first-color : rgb(21, 177, 216);
$second-color : #96979e;
$third-color : #96979e;
$fourth-color : #101010;

body{
    background-color: #101010;
    font-family: "Be Vietnam Pro", sans-serif;
}

nav{
    color: #f5f5f5;
    .nav__container{
        height: 10vh;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-right: 2%;
        margin-left: 2%;
        .nav__name{
            h2{
                cursor: pointer;
                color: $first-color;
                font-weight: 900;
                font-size: 1em;
            }   
        }
        .nav__menu{
            ul{
                cursor: pointer;
                display: flex;
                font-weight: 900;
                column-gap: 3em;    
            }
        }
    }
}

.info{
    background-color: #1d1f20;
    color: #96979e;
    height: 100vh;
    .info__container{
        height: 100vh;
        margin-right: 15%;
        margin-left: 15%;
        padding-top: 15%;
        padding-bottom: 15%;
        .info__content{
            display: flex;
            align-items: center;
            column-gap: 15%;    
        }
    }
}

.about{
    height: 100vh;
    .about__container{
        margin: 5%;
        .about__title{
            h1{
                text-align: center;
                font-size: 3.5em;
                font-weight: 900;
                color: whitesmoke;
            }
        }
        .about__me{
            margin-top: 10%;
            display: grid;
            grid-template-columns: 1fr 1fr;
            column-gap: 5em;
            .about__text{
                h2{
                    margin-left: 8%;
                    font-weight: 900;
                    font-size: 1.8em;
                    color: $first-color;
                }
                p{
                    margin-top: 3%;
                    line-height: 1.7em;
                    font-size: 1.3em;
                    font-weight: 600;
                    color: $second-color;
                }
            }
            .about__hobbies{
                h2{
                    margin-left: 40%;
                    font-weight: 900;
                    font-size: 1.8em;
                    color: $first-color;
                }
                ul{
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    column-gap: 10em;
                    margin-left: 18%;
                    li{
                        line-height: 7em;
                    }
                }
            }
        }
    }
}

.tech{
    @extend .info;
    height: 100vh;  
    background-color: #96979e;
    h2{
        text-align: center;
        margin-top: 3em;
        font-size: 3em;
        font-weight: 800;
        color: $first-color;
    }
    .tech__container{
        padding-top: 10%;
        padding-bottom: 10%;
        .tech__icons{
            ul{
                display: flex;
                justify-content: center;
                align-items: center;
                column-gap: 7em;                  
                li{
                    i{
                        text-decoration: none;
                        line-height: 2em;
                        font-size: 6em;
                        border: 0px;
                    }
                }
            }
        }
    }
}